<h1 class="px">Редактировать новость</h1>

<div class="row">
  <div class="col s12">
    <form action="/news/edit" method="POST" autocomplete="off">
      <div class="col s12 input-field">
        <input type="text" name="title" id="title" class="validate" required value="{{news.title}}">
        <label for="title">Название новости</label>
        <span class="helper-text" data-error="Некорректное название"></span>
      </div>
      <div class="input-field col s12">
        <input type="text" name="imgUrl" id="imgUrl" class="validate" required value="{{news.imgUrl}}">
        <label for="imgUrl">URL картинки</label>
        <span class="helper-text" data-error="Некорректный URL картинки"></span>
      </div>
      <div class="input-field col s12">
        <textarea name="text" id="textarea" class="materialize-textarea validate" required>{{news.text}}</textarea>
        <label for="textarea">Текст новости</label>
        <span class="helper-text" data-error="Некорректное содержимое новости"></span>
      </div>
      <input type="hidden" name="id" value="{{news._id}}">
      <button class="btn waves-effect waves-light blue darken-3" type="submit"><i class="material-icons left">done</i>Сохранить</button>
    </form>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <form action="/news/delete" method="POST">
      <input type="hidden" name="id" value="{{news._id}}">
      <button class="btn waves-effect waves-light red darken-1"><i class="material-icons left">delete</i>Удалить новость</button>
    </form>
  </div>
</div>
