<h2>Редактировать квалификацию</h2>

{{#if professions.length}}
  <div class="row">
    <div class="col s12">
      <form action="/qualifications/edit" method="POST" autocomplete="off">
        <div class="col s6 input-field">
          <select name="professionId" required>
            <option value="" disabled>Выберите профессию</option>
            {{#each professions}}
              <option value="{{_id}}" {{#ifeq _id @root.selectedProfessionId}}selected{{/ifeq}}>{{title}}</option>
            {{/each}}
          </select>
        </div>
        <div class="input-field col s6">
          <input id="degree" type="number" class="validate" name="degree" required min="1" value="{{qualification.degree}}">
          <label for="degree">Уровень</label>
          <span class="helper-text" data-error="Некорректный уровень"></span>
        </div>
        <div class="input-field col s12">
          <textarea id="textarea" class="materialize-textarea validate" name="description" required>{{qualification.description}}</textarea>
          <label for="textarea">Описание</label>
          <span class="helper-text" data-error="Некорректное описание"></span>
        </div>
        <input type="hidden" name="id" value="{{qualification._id}}">
        <button class="btn waves-effect waves-light blue darken-3" type="submit"><i class="material-icons left">done</i>Сохранить
        </button>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col s12">
      <form action="/qualifications/delete" method="POST">
        <input type="hidden" name="id" value="{{qualification._id}}">
        <button class="btn waves-effect waves-light red darken-1"><i class="material-icons left">delete</i>Удалить
          квалификацию
        </button>
      </form>
    </div>
  </div>
{{else}}
  <h5>Сначала необходимо добавить профессию</h5>
{{/if}}
